.quote {
  padding: 120px 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
  &Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  &Text {
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    max-width: 761px;
    width: 100%;
  }
  &Img {
    position: absolute;
    inset: 0%;
    z-index: -1;
    width: 100%;
    height: 100%;
    & img {
      object-fit: fill;
    }
  }
}
