.bestsellers {
  padding: 140px 0px 177px;
  &Container {
    display: flex;
    gap: 50px;
    &Wrap {
      display: flex;
      justify-content: end;
      gap: 32px;
    }
    &Btn {
      background: transparent;
      padding: 0;
      border: none;
      font: inherit;
      color: inherit;
      background-color: transparent;
      cursor: pointer;
      &Arrow {
        width: 26px;
        height: 12px;
        &Reverse {
          transform: rotate(180deg);
        }
      }
    }
    &Info {
      display: flex;
      flex-direction: column;
      gap: 30px;
      max-width: 214px;
    }
    &List {
      display: flex;
      height: 100%;
      flex-direction: column;
    }
  }
}
